#container {
  width: 960px;
  height: 100vh;
  margin: auto;
  margin-top: -8px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #c9c0bb;
}
#top {
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: 400px 250px 310px;
  align-items: center;
  justify-items: center;
  color: #ffffff;
  background-color: #333333;
}
#companyName {
  text-shadow: 1px 1px 2px gray;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
#rightnav {
  grid-column: -2;
  padding: 25px;
}
.topnav {
  padding: 0px 10px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px gray;
}
.topnav:hover {
  color: grey;
}
#companyName {
  font-size: 20px;
}
#contents_1 {
  background-image: url(https://i.picsum.photos/id/795/1920/1080.jpg?hmac=WdNixjqDJa970IaHqtaMJeaIBXMm5Bh4CfpJMVLYeAs);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  padding-left: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contents_1 h2 h4 {
  text-shadow: 1px 1px 2px gray;
}
button {
  position: relative;
  font-family: "Roboto", sans-serif;
  display: block;
  height: 45px;
  width: 150px;
  color: white;
  border: 3px white solid;
  border-radius: 2px;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.8s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
button:hover {
  color: grey;
}
button::before {
  content: "";
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.18s ease-in;
}
button:hover:before {
  right: 0;
}
#contents_2 {
  display: grid;
  grid-template-rows: 100px 150px 150px;
  grid-template-columns: repeat(3, 300px);
  background-color: white;
  padding: 30px;
  justify-items: center;
  justify-content: center;
}
#contents_2 h2 {
  text-shadow: 1px 1px 2px gray;
}
.spec_1 {
  grid-row: 2;
  grid-column: 2/4;
}
.spec_2 {
  grid-row: 3;
  grid-column: -4 / -2;
  text-align: right;
}
.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: grey;
}
.circle_1 {
  grid-row: 2;
  grid-column: 1;
}
.circle_2 {
  grid-row: 3;
  grid-column: 3;
}
#contents_3 {
  background-color: #405d78;
  color: white;
  padding: 40px;
}
#contents_3 h2 {
  margin-bottom: 40px;
  height: auto;
  text-shadow: 1px 1px 2px gray;
}
#serviceBox {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(2, 150px);
  justify-content: center;
  column-gap: 75px;
  row-gap: 50px;
  padding: 10px;
}
.service {
  border: 3px solid gainsboro;
  border-radius: 5px;
  background-color: white;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #405d78;
}
.service:hover {
  background-color: gainsboro;
  border-color: white;
}
#footer {
  display: flex;
  color: white;
  background-color: #333333;
  width: 960px;
}
#footer p {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  text-shadow: 1px 1px 2px gray;
}
.socials {
  text-decoration: none;
  color: white;
  margin-left: auto;
  padding: 15px;
}
.socials a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
